.app,
.app-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.lists {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 30px;
	width: 289px;
}

.list-title {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.list-tasks {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	list-style-type: none;
	padding: 0;
}

.task,
.tasks-filter,
.add-form {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.error {
	border: 1px solid red;
}

.error-message {
	color: red;
}

.active-filter {
	background-color: lightskyblue;
}

.is-done {
	opacity: 0.5;
}
