.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todolist {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 30px;
}

.title {
	display: flex;
	align-items: center;
	column-gap: 5px;
	margin: 10px 0;
}

.tasks {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	list-style-type: none;
	padding: 0;
}

.edit,
.filter,
.add {
	display: flex;
	column-gap: 5px;
}
